body {
    font-family: Roboto;
}

.top {
    background: #E0E1E2;
    padding-top: 25px;
    padding-bottom: 48px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.heading {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 20px;
    color: #2F3132;
}

.top__img {
    margin-top: 94px;
    margin-bottom: 67px;
    height: 230px;
    background-image: url(img/MX-Master\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-left: 59px;
    margin-right: 59px;
}

.item__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
    margin-left: 0;
    margin-right: 0;
}

.text__margin {
    margin-left: 34px;
    margin-right: 32px;
}

.top__arrow {
    margin-top: 40px;
}

.top__svg {
    width: 42px;
    height: 22px;
}

.bluetooth {
    background: #EDEDED;
    padding-top: 42px;
    padding-bottom: 22px;
}

.bluetooth__icon {
    margin-bottom: 27px;
}

.bluetooth__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 31px;
    color: #C4C4C4;
}

.bluetooth__img {
    height: 284px;
    background-image: url(img/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.info {
    padding-top: 70px;
    padding-bottom: 77px;
}

.info__content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 28px;
    gap: 6px;
}

.info__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-basis: 166px;
    min-height: 94px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid #2F3132;
}

.info__item-heading {
    margin-bottom: 5px;
}

.info__item-text {
    margin-left: 0;
    margin-right: 0;
}

.info__heading {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #2F3132;
}

.info__text {
    margin-left: 67;
    margin-right: 61;
}

.carousel {
    margin-bottom: 100px;
}

.flow {
    padding-top: 70px;
    padding-bottom: 218px;
    background-image: url(img/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
    background-color: #EDEDED;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.flow__ol {
    margin-top: 36px;
    padding-left: 54px;
}

.text__flow {
    margin-bottom: 23px;
    text-align: left;
    width: 223px;
}

.settings {
    padding-top: 70px;
    background-color: #EDEDED;
}

.settings__slider {
    margin: 35px 22px 98px 23px;
}

.settings__content {
    background: #C4C4C4;
    padding: 23px 22px 26px 29px;
}

.settings__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text__settings {
    margin-left: 5px;
    margin-right: 11px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.mouse__text {
    padding-top: 70px;
    padding-bottom: 20px;
}

.mouse__img {
    height: 310px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.mouse__img_1 {
    background-image: url(img/image\ 1.png);
}

.mouse__img_2 {
    background-image: url(img/image\ 2.png);
}

.footer {
    background: #2F3132;
    height: 75px;
    font-style: normal;
    font-weight: normal;
    font-size: 7px;
    line-height: 8px;
    text-align: center;
    color: #C7C8C8;
    padding-top: 22px;
}

@media (min-width: 768px) {
    .top {
        padding-top: 54px;
        padding-bottom: 80px;
    }

    .header__logo {
        width: 240px;
    }

    .heading {
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .top__img {
        margin-top: 159px;
        height: 514px;
        margin-bottom: 124px;
    }

    .text {
        font-size: 24px;
        line-height: 28px;
        margin-left: 159px;
        margin-right: 159px;
    }

    .text__margin {
        margin-left: 77px;
        margin-right: 77px;
    }

    .top__arrow {
        margin-top: 76px;
    }

    .top__svg {
        width: 61px;
        height: 33px;
    }

    .bluetooth {
        padding-bottom: 3px;
        padding-top: 80px;
    }

    .bluetooth__heading {
        line-height: 176px;
        font-size: 150px;
    }

    .bluetooth__img {
        height: 597px;
        margin-right: 19px;
        margin-left: 39px;
    }

    .info__content {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }

    .info__item-heading {
        margin-bottom: 5px;

    }

    .info__item {
        flex-basis: 300px;
        min-height: 170px;
    }

    .item__text {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .info__heading {
        font-size: 24px;
        line-height: 28px;
    }

    .flow {
        padding-bottom: 498px;
        padding-left: 64px;
        padding-right: 65px;
    }

}